@inherits DemoTileBase

<div class="cap-tile cap-tile-@OpenClosedCssState cap-tile__border" style="@OpenClosedCssStyle"
     @onclick="@(() => ExpandTitle())" @onclick:stopPropagation>
    <div class="cap-tile__size">
        <div class="cap-tile__content cap-tile__content_size">
            <div class="cap-tile__icon">
                <img class="w-100" src="@TileIconPath" />
            </div>
            <div>
                <div class="cap-tile__title">@Title</div>
                <div class="cap-tile__paragraph">@Description</div>
            </div>
            <div class="cap-tile__read-more" @onclick="@(() => ToggleTitle())" @onclick:stopPropagation>
                <ArrowToRightIcon Theme="@IconTheme.DARK" />
            </div>
            <div class="cap-tile__image-background">
                <img class="w-100" src="@TileIconPath" />
            </div>
            @if (ShowContent)
            {
                if (IsCurrentlyNavigated)
                {
                    @ChildContent
                }
                else
                {
                    <LoadPlaceholder />
                }
            }
            else
            {
                <div class="cap-tile__progress">
                    <img class="progress-img" src="/_content/Capgemini.Net.Blazor.Components.Tile/img/cap-tile-progress/@(ProgressCssStyle).png" />
                    @if (!@ProgressCssStyle.Equals("100"))
                    {
                        <div class="progress-text">@DemoTileProgress</div>
                    }
                </div>
            }
        </div>
    </div>
</div>

@if (ShowContent)
{
    <ClickOutsideOverlay Index="500" OnOutsideClick="@CollapseTitle" />
}