<div class="demo__container_wrapper">
    <EditForm Model="@rateContext">
        <CapInput Label="Max rate" InputName="@nameof(rateContext.MaxRate)">
            <InputNumber @bind-Value="@rateContext.MaxRate" />
        </CapInput>

        <CapInput Label="Avg rate" InputName="@nameof(rateContext.AvgRate)">
            <InputNumber @bind-Value="@rateContext.AvgRate" />
        </CapInput>

        <CapSelect Label="Icon" @bind-Value="rateContext.IconIndex" ParseValue="@((option) => RateContext.Icons[option])">
            @for (int i = 0; i < RateContext.Icons.Length; i += 1)
            {
                string icon = RateContext.Icons[i];
                <CapOption Key="@i.ToString()" Value="@i">
                    <div class="fa-cap-option">
                        <i class="far @icon" /> - <strong>@icon</strong>
                    </div>
                </CapOption>
            }
        </CapSelect>
    </EditForm>

    <CascadingValue Value="@rateContext">
        <div class="demo__container">
            @ChildContent
        </div>
    </CascadingValue>
</div>