<div class="demo__container_wrapper">
    <EditForm Model="@rateContext">
        <DataAnnotationsValidator />

        <CapInput Label="Max rate" InputName="@nameof(rateContext.MaxRate)">
            <ChildContent>
                <MaxRateInputNumber
                    @bind-Value="@rateContext.MaxRate"
                    Min="@rateContext.AvgRate"
                    Max="@int.MaxValue"
                    type="number" />
            </ChildContent>
            <ValidationContent>
                <ValidationMessage For="@(() => @rateContext.MaxRate)" />
            </ValidationContent>
        </CapInput>

        <CapInput Label="Avg rate" InputName="@nameof(rateContext.AvgRate)">
            <ChildContent>
                <AvgRateInputNumber
                    @bind-Value="@rateContext.AvgRate"
                    Min="2"
                    Max="@rateContext.MaxRate"
                    type="number" />
            </ChildContent>
            <ValidationContent>
                <ValidationMessage For="@(() => @rateContext.AvgRate)" />
            </ValidationContent>
        </CapInput>

        <CapSelect Label="Icon" @bind-Value="rateContext.Icon">
            @foreach (string icon in RateContext.Icons)
            {
                <CapOption Key="@icon" Value="@icon">
                    <div class="fa-cap-option">
                        <i class="far @icon" /> - <strong>@icon</strong>
                    </div>
                </CapOption>
            }
        </CapSelect>
    </EditForm>

    <div class="demo__container">
        @ChildContent(rateContext)
    </div>

    <div class="average-rate-container">
        @AvgRate(AverageRateContext)
    </div>
</div>
