<EditForm Model="@rateContext">
    <Microsoft.AspNetCore.Components.Forms.DataAnnotationsValidator />

    <div class="form-group row mb-1">
        <label class="col-3 col-form-label"
               for="MaxRate">MaxRate:</label>
        <div class="col-9">
            <InputNumber class="form-control" @bind-Value="@rateContext.MaxRate" />
            <ValidationMessage For="@(() => @rateContext.MaxRate)" />
        </div>
    </div>

    <div class="form-group row mb-1">
        <label class="col-3 col-form-label"
               for="Icon">Icon:</label>
        <div class="col-9">
            <InputSelect @bind-Value="rateContext.Icon" class="form-control">
                <option value="">Select icon ...</option>
                @foreach (string icon in icons)
                {
                    <option value="@icon">@icon</option>
                }
            </InputSelect>
        </div>
    </div>

    <div class="form-group row mb-1">
        <label class="col-3 col-form-label"
               for="AvgRate">AvgRate:</label>
        <div class="col-9">
            @*<InputNumber class="form-control" @bind-Value="@rateContext.AvgRate" />*@
            @*<InputNumber class="form-control" @bind-Value="@rateContext.AvgRate" min="1" max="@rateContext.MaxRate" />*@
            @*<AttrInputNumber class="form-control" @bind-Value="@rateContext.AvgRate" Min="1" Max="@rateContext.MaxRate" />*@
            <InputAvgRateNumber Min="1" Max="@rateContext.MaxRate" class="form-control" @bind-Value="@rateContext.AvgRate" />
            <ValidationMessage For="@(() => @rateContext.AvgRate)" />
        </div>
    </div>
</EditForm>

<div>
    <div>
        @AvgRate(new RateAvgColorContext()
           {
               MinRate = 1,
               AvgRate = rateContext.AvgRate,
               MaxRate = rateContext.MaxRate,
               MinColor = Colors.RED,
               MaxColor = Colors.GREEN
           })
    </div>
    <div>
        @ChildContent(rateContext)
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment<IRateContext> ChildContent { get; set; } = default!;

    [Parameter]
    public RenderFragment<RateAvgColorContext> AvgRate { get; set; } = default!;

    private IRateContext rateContext = new RateContextAttributes();

    private string[] icons = new[] { "fa-star", "fa-grin-stars", "fa-angry", "fa-sun" };
}
