@inherits LayoutComponentBase


<CascadingValue Value="@pointContext" IsFixed="false">
    <span class="main-container left-sidenav-@OpenClosedSideNavCssState" id="left-sidenav">
        <span id="left-sidenav__container">
            @if (demoChecklist is not null)
            {
                <ChecklistSidenav Context="@demoChecklist" PointSelected="@OnPointSelected" PointDeSelected="@OnPointDeSelected" OnClose="@OnSideNavClosed" />
            }
        </span>
    </span>
    @if (demoChecklist is not null && pointContext is null)
    {
        <ClickOutsideOverlay Index="700" OnOutsideClick="@OnSideNavClosed" />
    }
    <span class="main-container left-sub-sidenav-@OpenClosedSubSideNavCssState" id="left-sub-sidenav">
        <span id="left-sub-sidenav__container">
            @if (pointContext is not null)
            {
                <ChecklistDescriptionSubSidenav Context="@pointContext" OnClose="@OnSubSideNavClosed" />
            }
        </span>
    </span>
    @if (pointContext is not null)
    {
        <ClickOutsideOverlay Index="600" OnOutsideClick="@OnSubSideNavClosed" />
    }
</CascadingValue>
<div class="main-container left-sidenav-@OpenClosedSideNavCssState" id="right-sidenav">
    <div class="header">
        <Header />
    </div>
    <div class="content">
        <div class="cap-tile-container">
            <CascadingValue Name="NavigationChildContent" Value="@Body" IsFixed="true">
                <Capgemini.Net.Blazor.Components.Demo1.DemoTile />
                <Capgemini.Net.Blazor.Components.Demo2.DemoTile />
                <Capgemini.Net.Blazor.Components.Demo3.DemoTile />
                <Capgemini.Net.Blazor.Components.Demo4.DemoTile />
                <Capgemini.Net.Blazor.Components.Demo5.DemoTile />
                <Capgemini.Net.Blazor.Components.Demo6.DemoTile />
                <Capgemini.Net.Blazor.Components.Demo7.DemoTile />
                <Capgemini.Net.Blazor.Components.Demo8.DemoTile />
                <Capgemini.Net.Blazor.Components.Demo9.DemoTile />
                <Capgemini.Net.Blazor.Components.Demo10.DemoTile />
                <Capgemini.Net.Blazor.Components.Demo11.DemoTile />
                <Capgemini.Net.Blazor.Components.Demo12.DemoTile />
            </CascadingValue>
        </div>
    </div>
    <div class="footer">
        <Footer />
    </div>
</div>
<CapBackground />
